# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [1]:
import pandas as pd

data = pd.read_csv('ozone.csv')

In [2]:
print data.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [99]:
import pandas as pd

data = pd.read_csv('ozone.csv')
data.head(0).T

Empty DataFrame
Columns: []
Index: [Ozone, Solar.R, Wind, Temp, Month, Day]

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [52]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [ ]:
# 3 rows

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [53]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [73]:
data['Ozone'].loc[47]

37.0

How many missing values are in the Ozone column of this data frame?

In [83]:
data['Ozone'].isnull().sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [92]:
data.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [120]:
data['Ozone'].mean()

42.12931034482759

In [155]:
data_2 = data[(data.Ozone>37) & (data.Temp>90)].mean()

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [158]:
data_2['Solar.R']

212.80000000000001

In [179]:
data.groupby(data.Month == 6).Temp.mean()

Month
False    77.585366
True     79.100000
Name: Temp, dtype: float64

What is the mean of "Temp" when "Month" is equal to 6?

In [185]:
data_3 = data[(data.Month == 6)].mean()

In [187]:
data_3['Temp']

79.099999999999994

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [192]:
data.groupby(data.Month == 5).Ozone.max()

Month
False    168.0
True     115.0
Name: Ozone, dtype: float64

In [189]:
data[(data.Month == 5)]

    Ozone  Solar.R  Wind  Temp  Month  Day
0    41.0    190.0   7.4    67      5    1
1    36.0    118.0   8.0    72      5    2
2    12.0    149.0  12.6    74      5    3
3    18.0    313.0  11.5    62      5    4
4     NaN      NaN  14.3    56      5    5
5    28.0      NaN  14.9    66      5    6
6    23.0    299.0   8.6    65      5    7
7    19.0     99.0  13.8    59      5    8
8     8.0     19.0  20.1    61      5    9
9     NaN    194.0   8.6    69      5   10
10    7.0      NaN   6.9    74      5   11
11   16.0    256.0   9.7    69      5   12
12   11.0    290.0   9.2    66      5   13
13   14.0    274.0  10.9    68      5   14
14   18.0     65.0  13.2    58      5   15
15   14.0    334.0  11.5    64      5   16
16   34.0    307.0  12.0    66      5   17
17    6.0     78.0  18.4    57      5   18
18   30.0    322.0  11.5    68      5   19
19   11.0     44.0   9.7    62      5   20
20    1.0      8.0   9.7    59      5   21
21   11.0    320.0  16.6    73      5   22
22    4.0     25.0   9.7    61      5   23
23   32.0     92.0  12.0    61      5   24
24    NaN     66.0  16.6    57      5   25
25    NaN    266.0  14.9    58      5   26
26    NaN      NaN   8.0    57      5   27
27   23.0     13.0  12.0    67      5   28
28   45.0    252.0  14.9    81      5   29
29  115.0    223.0   5.7    79      5   30
30   37.0    279.0   7.4    76      5   31

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas